	body {
  		margin: auto;
        background-color: white;
        font-family: EB Garamond, Raleway;}

	.container {
 	 margin: auto;
 	 max-width: 600px;
 	 width: 90%;
 	 text-align: justify;}

	.container_cover {
 	 margin: auto;
 	 max-width: 700px;
 	 width: 100%;
 	 text-align: center;}

	.header {
	  background-color: white;
	  padding: 20px;
	  text-align: center;}

	h1 {
		color: #233252;
		text-align: center;
        font-size: 50px;
        padding-top: 20px;
        padding-bottom: 0px;
	margin-bottom: 10px;
        font-family: EB Garamond;
        font-weight: 1000;}
    
    h2 {
    	color: #a0a0a0;
		text-align: center;
        font-size: 15px;
        padding: 10px;
        font-variant: small-caps;
        font-family: Raleway;
        font-weight: normal;}
        
    h3 {
    	color: #233252;
		text-align: left;
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 0px;
        font-family: EB Garamond;
        font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;}
    
    h4 {
    	color: #233252;
		text-align: left;
        font-size: 17.5px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-family: EB Garamond;
        font-weight: normal;
	margin-left: 20px;
	margin-right: 20px;}
        
    p {
    	color: #364043;
        text-align: justify;
        font-size: 15px;
        font-family: Raleway;
        line-height: 1.5;
	margin-left: 20px;
	margin-right: 20px;}

	.nav {
        position: relative;
        background-color: #ffffff;
        width: 100%;
        margin: auto;
        padding-bottom: 20px;
    	text-align:center;
        font-family: Raleway;
        text-decoration: none;}   
    .nav ul {
  	 	list-style-type: none;
        margin: 0;
    	padding: 0;
        overflow: hidden;
    	display: inline-block;
        text-decoration: none;}
    .nav ul li {
        margin: auto;
        padding: 10px;
        float:left;
        text-decoration: none;}
.nav ul li a:link {
		color: #233252;
	text-decoration: none;}
    .nav ul li a:visited {
		color: #233252;
	text-decoration: none;}
.nav ul li a:hover {
  		color: #a0a0a0;
        text-decoration: none;}
.nav ul li a:active {
		color: #a0a0a0;
        text-decoration: none;}

    hr.solid {
  		border: 0.25px solid #a0a0a0;}

a:link {
  color: #364043;
}

a:visited {
  color: #364043;
}


a:hover {
  color: #a0a0a0;
}

a:active {
  color: #a0a0a0;
} 

  .rectangle {
  height: 1px;
  width: 300px;
  background-color: #b4cce8;
	margin-left: auto;
    margin-right: auto;}


.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0px;
  padding: 10px;
max-width: 700px;}

.grid-container > div {
  text-align: center;
  padding: 0px 20px;}

@media only screen and (max-width: 600px) {
    thead th:not(:first-child) {
        display: none;}

    td, th {
        display: block;}

    td[data-th]:before  {
        content: attr(data-th);}
}

.column {
  float: left;
  padding: 5px;}


.column.side {
  width: 10%;}


.column.middle {
  width: 80%;}


.row:after {
  content: "";
  display: table;
  clear: both;}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;}}
    
    footer {
  		text-align:center;
        	color: #a0a0a0;
  		padding: 20px;}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  Align-item:center;
}
