	body {
  		margin-left: 100px;
        margin-right: 100px;
        background-color: white;
        font-family: EB Garamond, Raleway;}

	h1 {
		color: #233252;
		text-align: center;
        font-size: 50px;
        padding-top: 20px;
        padding-bottom: 0px;
        font-family: EB Garamond;
        font-weight: 1000;}
    
    h2 {
    	color: #a0a0a0;
		text-align: center;
        font-size: 15px;
        padding: 10px;
        font-variant: small-caps;
        font-family: Raleway;
        font-weight: normal;}
        
    h3 {
    	color: #233252;
		text-align: left;
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 0px;
        font-family: EB Garamond;
        font-weight: bold;}
    
    h4 {
    	color: #233252;
		text-align: left;
        font-size: 17.5px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-family: EB Garamond;
        font-weight: normal;}
        
    p {
    	color: #364043;
        text-align: justify;
        font-size: 15px;
        font-family: Raleway;
        line-height: 1.5;}

	.nav {
        position: relative;
        background-color: #ffffff;
        width: 100%;
        margin: auto;
        padding-bottom: 20px;
    	text-align:center;
        font-family: Raleway;
        text-decoration: none;}   
    .nav ul {
  	 	list-style-type: none;
        margin: 0;
    	padding: 0;
        overflow: hidden;
    	display: inline-block;}
    .nav ul li {
        margin: auto;
        padding: 10px;
        float:left;}
    .nav ul li a:hover:not(.active) {
  		color: #364043;
        text-decoration: none;}
	.nav .active {
		color: #b4cce8 ;
        text-decoration: none;}
    
    hr.solid {
  		border: 0.25px solid #a0a0a0;}

    table {
 	width: 100%;
 	border-collapse: collapse;}
    
    footer {
  		text-align:center;
        		color: #a0a0a0;
  		padding: 20px;}
